node_modules
dist
dist-ssr
.DS_Store
*.local
.env
.env.*
!.env.example
coverage
playwright-report
test-results
.vite
.turbo
storybook-static
*.log
*.tsbuildinfo
**/routeTree.gen.ts
.tanstack
.wrangler
